@import "tailwindcss";

@keyframes spinSlow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spinSlow 16s linear infinite;
}

/* Custom Vintage Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #140e0a;
}

::-webkit-scrollbar-thumb {
  background: #443020;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8d5b28;
}
